.style{
  margin-left: 100px;
}

/*ゲーム開始時表示するモーダル*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    border-radius: 8px;
    border: solid 3px #faf460;
    background-color: #fff799;
    padding:  15px;
    display: none;
    z-index: 2;
}
.modal_title {
  position: relative;
  color: #ea5532;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}
.modal_title:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #f3981d;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.modal_text{
  border: solid 3px #f3981d;
  border-radius: 8px;
  background-color: #ffffcc;
  margin: 30px;
  font-family: sans-serif;
  font-size: 12pt;
}
.modal_close{
	display: inline-block;
	width: 130px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background:#ff8c00;
	border-bottom:4px solid #a0522d;
	border-radius: 4px;
  position: absolute;
  top:88%;
  left: 325px;
	transition: .0s;
}
.modal_close:hover {
	 cursor: pointer;
	 text-decoration: none;
	 background:#ff8c00;
	 transform: translate3d(0, 4px, 0);
	 transition: .0s;
	 border-bottom: none;
 }
.center {
   position: absolute;
   display: inline-block;
   top: 63%;
   left:300px;
   transform: translate(-50%, -50%);
 }
 .number{
   position: absolute;
   display: inline-block;
   top: 63%;
   left:500px;
   transform: translate(-50%,-50%);
 }

/* クリア時表示するモーダル*/
.clear_modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  border-radius: 8px;
  border: solid 3px #faf460;
  background-color: #fff799;
  padding:  15px;
  display: none;
  z-index: 2;
}
.clear_modal_title{
  position: relative;
  color: #ea5532;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}
.clear_modal_title:before{
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid #f3981d;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.clear_modal_text{

}
.close_btn{

}




 /** Custom Select **/
.custom-select-wrapper {
   position: relative;
   display: inline-block;
   user-select: none;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
   position: relative;
   display: block;
   width: 130px;
   padding: 8px;
   font-size: 14px;
   font-weight: 30;
   color: #fff;
   background: #ffa500;
   border-radius: 4px;
   cursor: pointer;
}
.custom-select-trigger:after {
   position: absolute;
   display: block;
   content: '';
   width: 10px; height: 10px;
   top: 50%; right: 25px;
   margin-top: -3px;
   border-bottom: 1px solid #fff;
   border-right: 1px solid #fff;
   transform: rotate(45deg) translateY(-50%);
   transition: all .4s ease-in-out;
   transform-origin: 50% 0;
 }
 .custom-select.opened .custom-select-trigger:after {
   margin-top: 3px;
   transform: rotate(-135deg) translateY(-50%);
 }
.custom-options {
  position: absolute;
  display: block;
  top: 100%; left: 0; right: 0;
  min-width: 100%;
  margin: 8px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0,0,0,.07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-options:before {
   position: absolute;
   display: block;
   content: '';
   bottom: 100%; right: 25px;
   width: 7px; height: 7px;
   margin-bottom: -4px;
   border-top: 1px solid #b5b5b5;
   border-left: 1px solid #b5b5b5;
   background: #fff;
   transform: rotate(45deg);
   transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
   position: relative;
   display: block;
   padding: 0 22px;
   border-bottom: 1px solid #b5b5b5;
   font-size: 14px;
   font-weight: 600;
   color: #b5b5b5;
   line-height: 30px;
   cursor: pointer;
   transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255, 224, 0.8);
    z-index: 1;
}

.contents{
  width: 100%
  margin: 10px auto;
}

.periodicTable{
  width: 100%;
  margin: 10px auto;
}

.elements{
  border: solid 1px #606060;
  border-radius: 8px;
  padding:0.5em 1em;
  color: #000;
  background: #FFF;
  width: 30px;
  height: 60px;
  margin: 1px;
  text-align: center;
}
.elements p{
  margin: 1px;
}
.empty{
  color: #fff;
  background:#fff;
  border: solid 1px #fff;
  border-radius: 8px;
  padding: 0.5em 1em;
  width: 30px;
  height: 60px;
  margin:1px;
}
.empty p{
  margin: 1px;
}

.btn{
  color: #fff;
  background:#6c3524;
  border: solid 1px #fff;
  border-radius: 8px;
  padding: 0.5em 1em;
  width: 30px;
  height: 60px;
  margin:1px;
  align: center;
}
.btn p{
  font-size: 9pt;
}
.btn:hover{
  background: #fff;
  color: #6c3524;
  border: solid 1px #6c3524;
}

.hint_box{
  color:#000;
  background: #fff;
  border:solid 1px #000;
  border-radius: 8px;
  padding: 0.5em 1em;
  width: 426px;
  height: 60px;
  margin: 1px;
  text-align: center;
  font-size: 12pt;
}
.hint_box p{
  font-size: 10pt;
  text-align: left;
  margin-top: 2px;

}

.score_box{
  color: #fff;
  background: #404040;
  border: solid 1px #404040;
  border-radius: 8px;
  padding:  0.5em 1px;
  width:125px;
  height: 60px;
  margin: 1px;
  text-align: center;
  font-size: 12pt;
}
.point{
  text-align: right;
  margin-top: 0;
  margin-right: 3px;
}
.score{
  margin-bottom: 0;
}
.time_count{
  color: #fff;
  background:#404040;
  border: solid 1px #fff;
  border-radius: 8px;
  padding: 0.5em 1em;
  width: 30px;
  height: 60px;
  margin:1px;
  align: center;
}
.time{
  margin-bottom: 0;
  text-align: center;
}
.time_text{
  text-align: right;
  margin-top: 0;
  margin-right: -10px;
  font-size: 10pt;
}
.number_count{
  color: #000;
  background-color: #fff;
  border: solid 1px #404040;
  border-radius: 8px;
  padding:  0.5em 1em;
  width: 30px;
  height: 60px;
  margin: 1px;
  align: center;
}
.count{
  text-align: right;
  margin-top: 0;
  margin-right: -10px;
  font-size: 10pt;
}
.number_now{
  margin-bottom: 0;
  text-align: center;
}

/*1行目*/
.row1 {
  position:absolute;
}
.row1 .elements{
  float:left;
  text-align: center;
}
.row1 .empty{
  float:left;
}
.row1 .btn{
  float:left;
}
.row1 .hint_box{
  float: left;
}
.row1 .score_box{
  float: left;
}
.row1 .number_count{
  float: left;
}

/*2行目*/
.row2 {
  position:absolute;
  top:172px;
}
.row2 .elements{
  float:left;
}
.row2 .empty{
  float:left;
}
.row2 .hint_box{
  float:left;
}
.row2 .time_count{
  float:left;
}

/*3行目*/
.row3 {
  position:absolute;
  top:254px;
}
.row3 .elements{
  float:left;
}
.row3 .empty{
  float:left;
}
.row3 .hint_box{
  float:left;
}

/*4行目*/
.row4{
  position: absolute;
  top:336px;
}
.row4 .elements{
  float:left;
}
/*5行目*/
.row5{
  position: absolute;
  top:418px;
}
.row5 .elements{
  float:left;
}

/*6行目*/
.row6{
  position: absolute;
  top:500px;
}
.row6 .elements{
  float:left;
}
#Lantanoid{
  font-size: 10pt;
}

/*7行目*/
.row7{
  position: absolute;
  top:582px;
}
.row7 .elements{
  float:left;
}
#Actinoid {
  font-size: 10pt;
}

/*8行目*/
.row8{
  position: absolute;
  top:670px;
}
.row8 .elements{
  float: left;
}
.row8 .empty{
  float: left;
}
/*9行目*/
.row9{
  position: absolute;
  top:752px;
}
.row9 .elements{
  float: left;
}
.row9 .empty{
  float: left;
}
